@media screen and (max-width: 426px) {
    .main-nav {
        flex-direction: column;
    }
    .chilled-nav ul li {
        display: block;
        line-height: 40px;
    }
    .main-header-banner {
        flex-direction: column;
    }
    .main-banner {
        flex-direction: column;
    }
    .chilled-banner {
        text-align: center;
    }
    .chilled-banner button {
        right: 80px;
    }
    .online-game-title {
        width: 100%;
    }
    .main-online-section {
        flex-direction: column;
    }
}

@media screen and (min-width:426px) and (max-width:770px) {
    .chilled-nav ul {
        text-align: right;
    }
    .chilled-nav ul li {
        line-height: 40px;
    }
    .main-header-banner {
        flex-direction: column;
        padding: 0px 80px;
    }
    .main-banner {
        flex-direction: column;
    }
    .chilled-banner {
        text-align: left;
    }
    .chilled-banner button {
        left: 0;
    }
    .online-game-title {
        width: 100%;
    }
    .main-online-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}